<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.shop.mapper.AdminMapper">
	<!-- findAll方法的实现 id：接口的方法名 -->
	<select id="findAll" resultMap="findAll">
		select id,admin_name,admin_password from t_admin
	</select>
	<!-- 配置数据表中的字段名和user类中成员变量要一致 -->
	<resultMap type="Admin" id="findAll">
		<id column="id" property="id" />
		<result column="admin_name" property="name" />
		<result column="admin_password" property="password" />
	</resultMap>
</mapper>
 	