<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.shop.mapper.CategoryMapper">
	
	<sql id="basesql">
	select id,category_name,category_description,category_parentid,leaf,grade
		from t_category
	</sql>

	<!-- 查询所有category表中的数据 -->
	<select id="findAll" resultMap="findAll">
		<include refid="basesql"/>
	</select>
	<!-- 配置数据表中的字段名和Admin类中成员变量要一致 -->
	<resultMap type="Category" id="findAll">
		<id column="id" property="id" />
		<result column="category_name" property="name" />
		<result column="category_description" property="descr" />
		<result column="category_parentid" property="pid" />
		<result column="leaf" property="leaf" />
		<result column="grade" property="grade" />
	</resultMap>

	<insert id="addRootCategory" parameterType="java.lang.String">
		insert into t_category values(null,#{param1},#{param2},0,1,1)
	</insert>
	
	<!-- 树状列表显示 -->
	<select id="findToTree" resultMap="findToTree">
		<include refid="basesql"/>
		where category_parentid=0
	</select>
	<resultMap type="Category" id="findToTree">
		<id column="id" property="id" />
		<result column="category_name" property="name" />
		<result column="category_description" property="descr" />
		<result column="category_parentid" property="pid" />
		<result column="leaf" property="leaf" />
		<result column="grade" property="grade" />
		<collection column="id" property="children"  ofType="Category" select="seleteChildByPid"></collection>
	</resultMap>
	<select id="seleteChildByPid" resultMap="findToTree" parameterType="int">
		<include refid="basesql"/>
		where category_parentid=#{id}
	</select>
	
	<!-- 查询 -->
	<select id="findByParentId" parameterType="int" resultType="int">
		select grade from t_category where id=#{pid}
	</select>
	<!-- 添加子类别 -->
	<insert id="addChildCategory" parameterType="Category">
		insert into t_category values(null,#{name},#{descr},#{pid},1,#{grade})
	</insert>
	<!-- 更新 -->
	<update id="updataParent" parameterType="int">
		update t_category set leaf=0 where id=#{pid}
	</update>
	
	<select id="findById" parameterType="int" resultMap="findAll">
		<include refid="basesql"/> where id=#{id}
	</select>
</mapper>
 	